* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 10px;
}

.steps {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
}

.steps li {
  flex-grow: 1;
  text-align: center;
}

.steps a {
  display: block;
  color: #ccc;
  padding: 10px 0;
  border-bottom: 3px solid transparent;
  transition: all 0.3s ease;
}

.steps a.active {
  color: #333;
  border-color: #333;
}

form {
  margin-top: 40px;
}

label {
  display: block;
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: bold;
}

textarea {
  width: 100%;
  height: 200px;
  padding: 10px;
  font-size: 18px;
  line-height: 1.5;
  border-radius: 10px;
  border: 2px solid #ccc;
  outline: none;
  transition: all 0.3s ease;
}

textarea:focus {
  border-color: #333;
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.1);
}

button {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 20px;
}

button:hover {
  background-color: #555;
}


.buttons-container {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
}

.previous-button {
  background-color: #c2c2c2;
  color: #000;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}

.next-button {
  background-color: #0077cc;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}

.image-container {
  max-width: 512px;
  margin-right: 20px;
}
